@import '../var.scss';

.collapse {
  width: 100%;

  .collapse-header {
    transition: 0.2s;
    font-size: 24px;
    padding: 10px 20px 10px 10px;
    background: $primary-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    .fa-solid {
      float: right;
      transition: transform 0.5s;
    }

    .fa-chevron-down {
      transform: rotate(0deg);
    }

    .down {
      transform: rotate(-180deg);
    }
  }

  .collapse-list {
    display: flex;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    background-color: $secondary-color;
    color: $primary-color;
    transition: max-height 0.5s;
    border-radius: 5px;

    &.open {
      max-height: 250px;
      transition: max-height 1s;
    }

    .collapse-list-content {
      padding: 10px 20px 20px 20px;
    }
  }
}