.dropdown {
  width: 100%;

  .dropdown-header {
    font-size: 24px;
    padding: 10px 20px 10px 10px;
    background: #FF6060;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    .fa-solid {
      float: right;
      transition: transform 0.5s;
    }

    .fa-chevron-down {
      transform: rotate(0deg);
    }

    .down {
      transform: rotate(180deg);
    }
  }

  .dropdown-list {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    color: #FF6060;
    padding: 10px 20px 20px 20px;
    gap: 5px;
    font-size: 18px;
  }
}