footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 100px 49px;
  align-items: center;
  width: 100%;
  gap: 28.56px;
  bottom: 0;

  .footer-text{
    font-size: 24px;
    color: white;
  }

  img{
    width: 122px;
    height: 39px;
  }
}
