footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 100px 49px;
  align-items: center;
  width: 100%;
  gap: 28.56px;
  bottom: 0;

  p {
    font-size: 24px;
    color: white;
  }

  img {
    width: 122px;
    height: 39px;
  }
}

@media (max-width: 756px) {
  footer {
    padding: 50px 0px 50px 0px;

    p {
      font-size: 12px;
    }
  }
}