@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.kasa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 0 100px;

  .kasa-logo {
    width: 210px;
    height: 68px;
  }

  .kasa-nav-item {
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
    margin-left: 3.5rem;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 756px) {
  .kasa-header {
    margin: 40px 30px 27px;

    .kasa-logo {
      width: 150px;
      height: 48px;
    }

    .kasa-nav-item {
      font-size: 16px;
      margin-left: 1rem;
    }
  }
}