.host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;

  .host-picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
  }

  .host-name {
    font-size: 18px;
    line-height: 142.6%;
    margin-right: 10px;
    text-align: right;
    width: 59%;
  }
}