.housing {
  padding: 50px 100px;
  color: #FF6060;

  .housing-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      padding-top: 30px;
      font-size: 36px;
      font-weight: 500;
    }

    h2 {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 23px;
    }
  }

  .housing-dropdown {
    display: flex;
    justify-content: space-between;
    gap: 75px;
    padding-top: 10px;
  }
}

@media (max-width: 756px) {
  .housing {
    padding: 0 20px 27px;

    .housing-info {
      flex-direction: column;

      h1 {
        font-size: 18px;
        padding: 15px 0 5px 0;
      }

      h2 {
        padding-bottom: 10px;
        font-size: 14px;
      }

      .housing-host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
      }
    }

    .housing-dropdown {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 3.5px;
    }
  }
}