.stars {
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  color: #FF6060;
  padding: 21px 0 30px 0;


  .fa-solid:not(.active) {
    color: #E3E3E3;
  }
}

@media (max-width: 756px) {
  .stars {
    font-size: 1rem;
  }
}