@import '../var.scss';

.tag {
  background-color: $primary-color;
  border-radius: 10px;
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px 4px 0;
  padding: 4px 8px;
  transition: 0.2s;

  &:hover {
    opacity: .8;
  }
}

@media (max-width: 756px) {
  .tag {
    border-radius: 5px;
    font-size: 12px;
  }
}