.tag {
  background-color: #FF6060;
  border-radius: 10px;
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px 4px 0;
  padding: 4px 8px;
}

@media (max-width: 756px) {
  .tag {
    border-radius: 5px;
    font-size: 12px;
  }
}